{% extends 'base.html' %}
{% block title %}
Поделиться секретом
{% endblock %}



{% block content %}


<style>
        /* Стилевое правило для увеличения размеров textarea */
        textarea {
            width: 400px; /* Ширина поля */
            height: 200px; /* Высота поля */
        }
    </style>

<body>
    <form method="post">
        <label for="content">Ваш секрет:</label><br>
        <textarea id="content" name="content"></textarea><br><br>

        <button type="submit">Поделиться</button>
        <br><br>
    </form>

</body>

{% endblock %}

